{% extends "base.html" %}
{% block content %}
{% load static %}

<div class = "container">
    
    
    
    {% if 'pl' in request.path %}
    {% for post in post_list %}
    <div class="post">
        <div class="post-body">
            <h1 class="post-title">{{ post.title }}</h2>
            <p class="post-meta">{{ post.author }} | {{ post.created_on}} </p>
            <p class="post-text">{{ post.content|truncatechars:200|default:''|safe }}{% if post.content|length > 200 %}...{% endif %}</p>
            <a class="read-more" href="{% url 'post_detail_pl' post.slug  %}" >Czytaj Dalej &rarr;</a>
        </div>
    </div>
    {% endfor %}
    {% else %}
    {% for post in post_list %}
    <div class="post">
        <div class="post-body">
            <h1 class="post-title">{{ post.title }}</h2>
            <p class="post-meta">{{ post.author }} | {{ post.created_on}} </p>
            <p class="post-text">{{ post.content|truncatechars:200|default:''|safe }}{% if post.content|length > 200 %}...{% endif %}</p>
            <a class="read-more" href="{% url 'post_detail_en' post.slug  %}" >Read More &rarr;</a>
        </div>
    </div>
    {% endfor %}
    {% endif %}


</div>



{% endblock %}